@media only screen and (max-width:480px){
    #navigation{
        display:none;
    }

    #main_content{
        width: 100%;
    }

    .subcontents{
        width: 100%;
    }

    #advertisement{
        width: 95%;
    }
}


@media only screen and (min-width:481px) and (max-width:1023px){
    #navigation{
        display:none;
    }

    #main_content{
        width: 100%;
    }

    .subcontents{
        width: 45%;
        display:inline-block;
    }

    #advertisement{
        width: 95%;
    }
}